.container {
    display: flex;
    align-items: center;
    background-color: #fbfdff;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    box-sizing: border-box;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.12);
  }
  
  .container-end {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    width: 100%; 
  }

  .container div {
    margin-right: 10px;
  }
  
  .container div:last-child {
    margin-right: 170px;
  }
  
  .container button {
    border-color: rgba(0,100,242,255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 95px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-weight: 550;
  }
  
  .container button:hover {
    background-color: rgba(0,100,242,255);
    border: none;
    transition: 0.2s;
    width: 100px;
    color: white;
  }