
<p-card class="mb-2">
    <div class="container p-fluid">
        <form #form="ngForm" class="ui-g">
            <div class="flex justify-content-between gap-2">
                <div class="w-6 flex flex-column">
                    <label for="txtName" class="font-bold">Nome</label>
                        <input 
                            ngModel 
                            pInputText 
                            type="text" 
                            id="txtName" 
                            name="txtName" 
                            placeholder="Name"
                            required
                        >
                </div>
                <div class="w-6 flex flex-column">
                    <label for="txtTotalVacancies" class="p-d-block font-bold">Total de Vagas</label>
                    <p-inputNumber
                        ngModel
                        id="txtTotalVacancies"
                        name="txtTotalVacancies"
                        placeholder="Total Vacancies"
                        class="p-inputnumber p-component p-d-block p-mb-2"
                        [min]="0"
                        required
                        >
                  </p-inputNumber>
                </div>
            </div>
            <div class="flex justify-content-between mt-2 gap-2">
                <div class="w-6 flex flex-column">
                    <label for="txtInit" class="font-bold">Data de Início</label>
                    <p-calendar 
                        ngModel 
                        id="txtInit" 
                        name="txtInit" 
                        dateFormat="dd/mm/yy" 
                        placeholder="__/__/____" 
                        class="w-6" 
                        inputId="calendar" 
                        [inputStyle]="{width: '100%'}" 
                        [maxDate]="this.form.value.txtEnd"
                        required>
                    </p-calendar>
                </div>
                <div class="w-6 flex flex-column">
                    <label for="txtEnd" class="font-bold">Data de Término</label>
                    <p-calendar 
                        ngModel 
                        id="txtEnd" 
                        name="txtEnd" 
                        dateFormat="dd/mm/yy" 
                        placeholder="__/__/____" 
                        class="w-6" 
                        inputId="calendar" 
                        [inputStyle]="{width: '100%'}" 
                        [minDate]="this.form.value.txtInit"
                        required>
                    </p-calendar>
                </div>
            </div>
            <div class="flex justify-content-between mt-2 gap-2">
                <div class="w-3 flex flex-column">
                    <label for="txtMinimumStudentAge" class="font-bold">Idade mínima</label>
                    <p-dropdown [options]="ages" [(ngModel)]="selectedAge" id="txtMinimumStudentAge" name="minimumStudentAge" placeholder="Idade mínima do estudante" required></p-dropdown>
                </div>
            </div>
            <hr class="p-divider">
            <div class="flex justify-content-end gap-2">
                <button pButton type="button" label="Limpar" (click)="this.form.resetForm()" class="w-1 p-mt-2 border-round-lg" icon="pi pi-refresh" severity="secondary"></button>
                <button pButton type="button" label="Salvar" (click)="onSave(form)" class="w-1 p-mt-2 border-round-lg" icon="pi pi-save" severity="success"></button>
            </div>
        </form>
    </div>
</p-card>