<div class="p-datatable p-component p-datatable-responsive mt-2">
    <p-table 
      styleClass="p-datatable-striped" 
      [value]="persons" 
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="5"
      >
      <ng-template pTemplate="header">
        <tr>
          <th class="col-name font-bold">Nome</th>
          <th class="col-name font-bold">CPF</th>
          <th class="col-name font-bold">Data de nascimento</th>
          <th class="col-actions font-bold">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-person>
        <tr>
          <td class="col-name">{{ person.name }}</td>
          <td class="col-name">{{ person.cpf | cpf }}</td>
          <td class="col-name">{{ person.birthDate | date:'dd/MM/yyyy' }}</td>
          <td class="col-actions">
            <button pButton type="button" [rounded]="true" [outlined]="true" icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="onEdit(person)"></button>
            <button pButton type="button" [rounded]="true" [outlined]="true" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onDelete(person.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  